﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddView</title>
</head>
<body>
    <form action="/Home/AfterAdd" method="Post">
        <lable>PersonName</lable>
        <input type="text" name="PersonName" value="" /> <br />
        <lable>Age</lable>
        <input type="text" name="Age" value="" /> <br />
        <lable>Address</lable>
        <input type="text" name="Address" value="" /> <br />
        <lable>ContactNumber</lable>
        <input type="text" name="ContactNumber" value="" /> <br />
        
        <lable>Status</lable>
        <input type="text" name="Status" value="" /> <br />
        <lable>Role</lable>
        <input type="text" name="Role" value="" /> <br />

        <input type="submit" name="Adduser" value="Submit" />


    </form>
</body>
</html>
