﻿@model List<D1_56441_Sachin.Models.Rationing_Card>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
</head>
<body>
    <h1> Welcome @ViewBag.Name to Admin page</h1>

    <table border="1">
        <tr>
            <th>RationNo</th>
            <th>PersonName</th>
            <th>Age</th>
            <th>Address</th>
            <th>ContactNumber</th>
             <th>Status</th>
            <th>Role</th>
            <th colspan=" =" 2""></th>
        </tr>
        @foreach (var item in Model)
        {
            
    <tr>
        <td>@item.RationNo</td>
        <td>@item.PersonName</td>
        <td>@item.Age</td>
        <td>@item.Address</td>

        <td>@item.ContactNumber</td>
        <td>@item.Status</td>
        
        <td>@item.Role</td>
       
    </tr>
           
        }
    </table>
    <a href="/Home/Add/">AddApplicant</a>
</body>
</html>
