﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <div>
        <form method="post" action="/Home/AfterLogin">
            PersonName : <input type="text" name="PersonName" value="" />
            <br />
            Address :<input type="text" name="Address" value="" />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>



